<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://jsf.jd.com/schema/jsf
       http://jsf.jd.com/schema/jsf/jsf.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:apollo-env.properties" />
    <jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="i.jsf.jd.com"/>
    <!-- 单点登录JSF服务接口 -->
    <jsf:consumer id="ssoService"
                  interface="com.jd.ssa.service.SsoService" protocol="jsf"
                  alias="v1" timeout="10000"/>
    <jsf:consumer id="urmUserInterface"
                  interface="com.jd.bdp.urm2.api.user.UrmUserInterface" protocol="jsf"
                  alias="user-api" timeout="20000" >
    </jsf:consumer>

    <bean id="jimClient" class="com.jd.jim.cli.ReloadableJimClientFactoryBean">
        <property name="jimUrl" value="jim://3004391043487490065/8419" />
    </bean>

    <mvc:interceptors>

        <!--单点登录拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <!-- 单点登录springmvc 拦截器bean -->
            <bean id="springSSOInterceptor"
                  class="com.jd.common.springmvc.interceptor.SpringSSOInterceptor">
                <property name="appDomainName" value="${erp.domain.name}" />
                <property name="appHomeUrl" value="${app.home.url}" />
                <property name="loginUrl" value="${login.url}" />
                <property name="ssoDomainName" value="${erp.domain.name}" />
                <property name="excludePath" value="/static,/openapi,/vendor,/styles,/scripts,/views,/img" />
                <property name="ssoService" ref="ssoService" />
            </bean>
        </mvc:interceptor>

        <!--单点登录拦截器
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean id="springSSOInterceptor"
                  class="com.jd.common.springmvc.interceptor.SpringSSOInterceptor">
                <property name="loginUrl" value="http://ssa.jd.com/sso/login" />
                <property name="excludePath" value="/static,/openapi,/vendor,/styles,/scripts,/views,/img" />
                <property name="ssoService" ref="ssoService" />
            </bean>
        </mvc:interceptor>-->
    </mvc:interceptors>

</beans>